*{
  margin: 0%;
}

/* container */
.container{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-areas: 
  'header header header header'
  'sidebar main main main'
  'sidebar main main main'
  'footer footer footer footer';
  gap: 1vh;
}
/* ------------------------------------------- */



/* header */
#header{
  grid-area: header;
  background-color: #E9EFC0;
}
/* ---------------------------------------------------- */




/* sidebar */
.sidebar{
  grid-area: sidebar;
  background-color: #83BD75;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 10vh;
  font-size: larger;
}
/* ---------------------------------------- */




/* main */
#main{
  grid-area: main;
  background-color: #B4E197;
  display: flex;
  justify-content: space-between;
}
/* --------------------------------------------------- */



/* footer */
#footer{
  background-color:#4E944F;
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
/* ------------------------------------------- */




/* unorder list for logos inside the heder */
#list{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  align-content: center;
}
/* ----------------------------------- */


/* links color\sidebar\header */
a{
  color: #fd9400;
  text-decoration: none;
}
/* ------------------------------- */



/* inside the footer */
#email{
  color: rgba(255, 255, 19, 0.733);
  font-size: large;
}
/* ------------------------------------ */


th{
  color: #FFFBE7;
  font-size: large;
}



/* -------------------------------- */
/* instegram logo */
#ins_logo{
  width: 5vw;
  height: 10vh;
  display: flex;
  justify-content: first baseline;
}

/* github logo */
#git_logo{
  width: 5vw;
  height: 10vh;
  display: flex;
  justify-content:center;
}

/* ---------------------------- */
/* linkedin logo */
#link_logo{
  width: 5vw;
  height: 10vh;
  display: flex;
  justify-content: first baseline;
}

#sidebar_icon{
  display: none;
}

/* name over the paragraph */
#myname{
  display: flex;
  color: #A2B38B;
  border: 5px solid #A2B38B;
  filter: drop-shadow(5px 1px 4px #A2B38B);
}
/* ----------------------------------- */

/* hover photo */
#me1{
  border-radius: 70%;
  height: 20vh;
  width: 10vw;
  transition-duration: 3s;
  filter: drop-shadow(1px 5px 4px  #B4E197);
}

#me1:hover{
  transform: scale(1.5);
}

/* ------------------------------------ */



/* pargraph of my resume */
#pargraph{
 width: 30vw;
 border: 1px;
 color: rgba(0, 0, 0, 0.751);
 font-family:'Noto Serif', serif; 
 padding: 5vh;
 /* filter: drop-shadow(2px 2px ); */
}

/* --------------------------- */



/* div of git works*/
#mos{
  width: 30vw;
  border: 1px;
  color: rgba(0, 0, 0, 0.751);
  font-family:'Noto Serif', serif;
  padding: 5vh;
}
/* ------------------------------------------ */



/* animation photos */
@keyframes img2 {
  0%{background-image: url(imges/me1.png);}
  20%{background-image: url(imges/me3.png);}
  60%{background-image: url(imges/fam.png);}
  100%{background-image: url(imges/fam2.png);}
}
.img2{
  background-image: url(imges/fam.png);
  width: 20vw;
  height:100vh;
  animation-name: img2;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background-size: cover;
  display: none;
}
.photo_fam{
  display: flex;
}
@keyframes fam1 {
  0%{background-image: url(imges/fam.png);background-size: cover;}
  25%{background-image: url(imges/fam2.png);background-size: cover;}
  50%{background-image: url(imges/me1.png);background-size: cover;}
  100%{background-image: url(imges/me5.png);background-size: cover;}
}
.photo_fam{
  width: 20vw;
  height: 40vh;
  align-self: flex-end;
  background-image: url(imges/fam.png);
  animation-name: fam1 ;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  grid-area: main;
  animation-direction: alternate;
}
/* --------------------------------------------------- */





/* gallery font width height */
#gallery2{
  width: 3vw;
  height: 3vw;
}
/* ----------------------------------------- */





/* whatsapp in the footer img logo */
#whatsapp{
  width: 5vw;
  height: 10vh;
}
/* --------------------------------- */




/* mail in the footer img logo */
#mail{
  width: 5vw;
  height: 10vh;
}

p{
  filter: drop-shadow(1px 1px 0px rgba(2, 3, 3, 0.537) );
}

