*{
  margin: 0%;
}
.container{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-areas: 
  'header header header header'
  'sidebar main main main'
  'sidebar main main main'
  'footer footer footer footer';
  gap: 1vh;
}

#header{
  grid-area: header;
  background-color: #E9EFC0;
  /* padding-left: 15vw; */
}

.sidebar{
  grid-area: sidebar;
  background-color: #83BD75;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 10vh;
  font-size: larger;
}

#main{
  grid-area: main;
  background-color: #B4E197;
  display: flex;
  justify-content: space-between;
}

#footer{
  background-color:#4E944F;
  grid-area: footer;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-evenly;
}

#list{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  align-content: center;
}

a{
  color: #fd9400;
  text-decoration: none;
}

/* inside the footer */
#email{
  color: rgba(255, 255, 19, 0.733);
  font-size: large;
}

th{
  color: #FFFBE7;
  font-size: large;
}

/* -------------------------------- */
/* instegram logo */
#ins_logo{
  width: 5vw;
  height: 10vh;
  display: flex;
  justify-content: first baseline;
}

/* github logo */
#git_logo{
  width: 5vw;
  height: 10vh;
  display: flex;
  justify-content:center;
}

/* ---------------------------- */
/* linkedin logo */
#link_logo{
  width: 5vw;
  height: 10vh;
  display: flex;
  justify-content: first baseline;
}

#sidebar_icon{
  display: none;
}

/* name over the paragraph */
#myname{
  display: flex;
  color: #A2B38B;
  border: 1px solid #A2B38B;
}
/* ----------------------------------- */

/* hover photo */
#me1{
  border-radius: 70%;
  height: 20vh;
  width: 10vw;
}

#me1:hover{
  transform: scale(1.5);
  filter: drop-shadow(5px 5px 4px  #fd9400);
}

/* ------------------------------------ */
/* pargraph of my resume */
#pargraph{
 width: 30vw;
 border: 1px;
 color: rgba(0, 0, 0, 0.751);
 /* border: 2px dotted ; */
 font-family:'Noto Serif', serif; 
 padding: 5vh;
}

/* --------------------------- */
/* link for piano */
#mos{
  width: 30vw;
  border: 1px;
  color: rgba(0, 0, 0, 0.751);
  /* border: 2px dotted ; */
  font-family:'Noto Serif', serif;
  padding: 5vh;
}

@keyframes img2 {
  /* 0% {background-image: url(imges/fam.png);}
  100%{background-image: url(imges/fam2.png);} */
  0%{background-image: url(imges/me1.png);}
  20%{background-image: url(imges/me3.png);}
  60%{background-image: url(imges/fam.png);}
  100%{background-image: url(imges/fam2.png);}
}


.img2{
  background-image: url(imges/fam.png);
  width: 20vw;
  height:100vh;
  animation-name: img2;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background-size: cover;
  display: none;
}
.photo_fam{
  display: flex;
}
@keyframes fam1 {
  0%{background-image: url(imges/fam.png);background-size: cover;}
  25%{background-image: url(imges/fam2.png);background-size: cover;}
  50%{background-image: url(imges/me1.png);background-size: cover;}
  100%{background-image: url(imges/me5.png);background-size: cover;}
}
.photo_fam{
  width: 20vw;
  height: 40vh;
  align-self: flex-end;
  background-image: url(imges/fam.png);
  animation-name: fam1 ;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  grid-area: main;
  animation-direction: alternate;
}
#gallery2{
  width: 3vw;
  height: 3vw;
}
#whatsapp{
  width: 5vw;
  height: 10vh;
}
#mail{
  width: 5vw;
  height: 10vh;
}

