*{
  margin: 0%;
}
.container{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-areas: 
  'header header header header'
  'sidebar main main main'
  'sidebar main main main'
  'footer footer footer footer';
  gap: 1vh;
}

#header{
  grid-area: header;
  background-color: #DAB88B;
  padding-left: 15vw;
}

#sidebar{
  grid-area: sidebar;
  background-color: #A2B38B;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 10vh;
  font-size: larger;
}

#main{
  grid-area: main;
  background-color: #F0ECE3;
  display: flex;
  justify-content: space-between;
}

#footer{
  background-color:#DAB88B;
  grid-area: footer;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-evenly;
}

#list{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  align-content: center;
}

a{
  color: #fd9400;
  text-decoration: none;
}

/* inside the footer */
#email{
  color: rgba(255, 255, 19, 0.733);
  font-size: large;
}

th{
  color: #FFFBE7;
  font-size: large;
}

/* -------------------------------- */
/* instegram logo */
#ins_logo{
  width: 5vw;
  height: 10vh;
  display: flex;
  justify-content: first baseline;
}

/* github logo */
#git_logo{
  width: 5vw;
  height: 10vh;
  display: flex;
  justify-content:center;
}

/* ---------------------------- */
/* linkedin logo */
#link_logo{
  width: 5vw;
  height: 10vh;
  display: flex;
  justify-content: first baseline;
}

#sidebar_icon{
  display: none;
}

/* name over the paragraph */
#myname{
  display: flex;
  color: #A2B38B;
  border: 1px solid #A2B38B;
}
/* ----------------------------------- */

/* hover photo */
#me1{
  border-radius: 70%;
  height: 20vh;
  width: 10vw;
}

#me1:hover{
  transform: scale(1.5);
  filter: drop-shadow(5px 5px 4px  #fd9400);
}

/* ------------------------------------ */
/* pargraph of my resume */
#pargraph{
 width: 30vw;
 border: 1px;
 color: rgba(0, 0, 0, 0.751);
 border: 2px dotted ;
 font-family:'Noto Serif', serif; 
}

/* --------------------------- */
/* link for piano */
#mos{
  width: 30vw;
  border: 1px;
  color: rgba(0, 0, 0, 0.751);
  border: 2px dotted ;
  font-family:'Noto Serif', serif;
}

@keyframes imges_footer{
  from{background-image: url(imges/me1.png);}
  to{background-image: url(imges/me3.png);}
  0%{transform: translateX(30px);}
  100%{transform: translateX(100px);}
}

#imges_footer {
  width: 20vw ;
  height: 30vh ;
  background-image:url(imges/me1.png) ;
  background-size: 60% ;
  animation-name: imges_footer;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes img1{
  from{background-image: url(imges/me3.png);}
  to{background-image: url(imges/me5.png);}
  0%{transform: translateX(30px);}
  100%{transform: translateX(100px);}
}

.img1{
  background-image: url(imges/me3.png);
  width: 20vw;
  height:30vh;
  background-size: 60%;
  animation-name: img1;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes img2 {
  0% {background-image: url(imges/fam.png);}
  100%{background-image: url(imges/fam2.png);}
}

.img2{
  background-image: url(imges/fam.png);
  width: 20vw;
  height:30vh;
  background-size: 60%;
  animation-name: img2;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
