body{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  /* border: 2px solid black; */
}
.container{
    width: auto;
    height: auto;
    display: grid;
    grid-template-areas: 
    'header header header header'
    'main main main main'
    'main main main main'
    'footer footer footer footer';
    gap: 1vh;
  }
  
  #header{
    grid-area: header;
    background-color: #DAB88B;
    display: flex;
    justify-content:space-evenly;
  }

  #sidebar{
    /* grid-area: sidebar;
    background-color: #A2B38B;
    height: 5vh;
    width: 10vw;
    display: flex; 
    flex-direction: column;
    align-items: right; 
    line-height: 10vh;
    overflow: hidden;
    transition: 3s; */
    display: none;
  }

  /* #sidebar:hover{
    color: green;
    height: 85vh;
    width: 25vw;
  } */

  #main{
    grid-area: main;
    background-color: #F0ECE3;
  }
  
  #footer{
    background-color:#DAB88B;
    grid-area: footer;
    display: flex;
    align-items: flex-start;
    gap: 2vw;
    height: 10vh;
  }
  
  #list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    
  }

  a{
    color: #FFFBE7;
    text-decoration: none;
    /* display: flex; */
  }

  /* inside the footer */
  th{
    color: #FFFBE7;
    font-size: 3vh;
  }

  /* -------------------------------- */
  /* instegram logo */
  #ins_logo{
    width: 15vw;
    height: 10vh;
    display: flex;
    /* transform: translateX(10px); */
  }

  /* github logo */
  #git_logo{
    width: 15vw;
    height: 10vh;
    display: flex;
    /* justify-content:center; */
  }

  /* linkedin logo */
  #link_logo{
    width: 15vw;
    height: 10vh;
    display: flex;
   
  }

  #sidebar_icon{
    width: 10vw;
    height: 5vh;
    display: flex;
    justify-content: flex-end;
    transform: translateY(15px);
  }

  /*  inside the footer */
  #email{
    color: rgba(0, 0, 0, 0.733);
    font-size: 3vh;
    
  }
  
  #myname{
    display: flex;
    color: #A2B38B;
    width: 2vw;
    justify-content: flex-start;
    /* align-items: flex-end; */
    gap: 10vw;
  }
  
  #me1{
    border-radius: 70%;
    height: 20vh;
    width: 40vw;
  }

  #me1:hover{
    transform: scale(1.5);
    filter: drop-shadow(5px 5px 4px  #FFFBE7);
  }

  #pargraph{
   width: 60vw;
   border: 1px;
   color: rgba(0, 0, 0, 0.751);
   padding: 10vw;
  }

a{
  color: black;
  width: 30vw;
  color: rgba(0, 0, 0, 0.751);
}

#mos{
  display: flex;
  flex-direction: column;
  width: 80vw;
  padding: 10vw;
}

#mof{
  display: flex;
  flex-direction: column;
  width: 80vw;
}

@keyframes imges_footer{
  0%{background-image:url(imges/me1.png);}
  20%{background-image: url(imges/me3.png);}
  60%{background-image: url(imges/fam.png);}
  80%{background-image: url(imges/fam2.png);}
  100%{background-image: url(imges/me5.png);}  
}

#imges_footer {
  width: 80vw ;
  height: 30vh ;
  background-image:url(imges/me1.png) ;
  background-size: cover ;
  animation-name: imges_footer;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  padding: 10vw;
}
li{
  display: flex;
}



  

