body{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    'header header header header'
    'sidebar main main main'
    'sidebar main main main'
    'footer footer footer footer';
    gap: 1vh;
  }
  
  #header{
    grid-area: header;
    background-color: #DAB88B;
  }

  #sidebar{
    /* grid-area: sidebar;
    background-color: #A2B38B;
    height: 5vh;
    width: 10vw;
    display: flex; 
    flex-direction: column;
    align-items: right; 
    line-height: 10vh;
    overflow: hidden;
    transition: 3s; */
    display: none;
  }

  /* #sidebar:hover{
    color: green;
    height: 85vh;
    width: 25vw;
  } */

  #main{
    grid-area: main;
    background-color: #F0ECE3;
  }
  
  #footer{
    background-color:#DAB88B;
    grid-area: footer;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  
  #list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    align-content: center;
  }

  a{
    color: #FFFBE7;
    text-decoration: none;
  }

  /* inside the footer */
  th{
    color: #FFFBE7;
    font-size: large;
  }

  /* -------------------------------- */
  /* instegram logo */
  #ins_logo{
    width: 10vw;
    height: 5vh;
    display: flex;
    transform: translateX(10px);
  }

  /* github logo */
  #git_logo{
    width: 10vw;
    height: 5vh;
    display: flex;
    justify-content:center;
  }

  /* linkedin logo */
  #link_logo{
    width: 10vw;
    height: 5vh;
    display: flex;
    justify-content: first baseline;
    transform: translateX(10px);

  }

  #sidebar_icon{
    width: 10vw;
    height: 5vh;
    display: flex;
    justify-content: flex-end;
    transform: translateY(15px);
  }

  /*  inside the footer */
  #email{
    color: rgba(255, 255, 19, 0.733);
    font-size: large;
  }
  
  #myname{
    display: flex;
    gap: 5px;
    color: #A2B38B;
    border: 1px solid #A2B38B;
  }
  
  #me1{
    border-radius: 70%;
    height: 20vh;
    width: 40vw;
  }

  #me1:hover{
    transform: scale(1.5);
    filter: drop-shadow(5px 5px 4px  #FFFBE7);
  }

  #pargraph{
   width: 100vw;
   border: 1px;
   color: rgba(0, 0, 0, 0.751);
   /* border: 3px solid ; */
  }

a{
  color: black;
  width: 30vw;
  color: rgba(0, 0, 0, 0.751);
}

#mos{
  display: flex;
  flex-direction: column;
  width: 100vw;
}

#mof{
  display: flex;
  flex-direction: column;
}

@keyframes imges_footer{
  from{background-image: url(imges/me1.png);}
  to{background-image: url(imges/me3.png);}
  0%{transform: translateX();}
  100%{transform: translateX(100px);}
}

#imges_footer {
  width: 10vw ;
  height: 10vh ;
  background-image:url(imges/me1.png) ;
  background-size: 100% ;
  animation-name: imges_footer;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes img1{
  from{background-image: url(imges/me3.png);}
  to{background-image: url(imges/me5.png);}
  0%{transform: translateX(30px);}
  100%{transform: translateX(100px);}
}

.img1{
  background-image: url(imges/me3.png);
  width: 10vw;
  height:10vh;
  background-size: 100%;
  animation-name: img1;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

  

