body{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
/* container */
.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    'header header header'
    'main main main'
    'main main main'
    'footer footer footer';
    gap: 1vh;
  }
  /* ------------------------------------------- */
  




  /* header */
  #header{
    grid-area: header;
    background-color: #E9EFC0;
    display: flex;
    justify-content:space-evenly;
  }
/* ------------------------------------ */



p{
  filter: drop-shadow(1px 1px 0px rgba(2, 3, 3, 0.537) );
}






/* sidebar on displayed none in small screen */
  .sidebar{
    /* grid-area: sidebar;
    background-color: #A2B38B;
    height: 5vh;
    width: 10vw;
    display: flex; 
    flex-direction: column;
    align-items: right; 
    line-height: 10vh;
    overflow: hidden;
    transition: 3s; */
    display: none;
  }
  /* --------------------------------------------- */







  /* main */
  #main{
    grid-area: main;
    background-color: #B4E197;
  }

/* --------------------------------------- */
  






/* footer */
  #footer{
    background-color:#4E944F;
    grid-area: footer;
    display: flex;
    align-items: center;
    gap: 2vw;
    height: 10vh;
    justify-content: center;
  }
  /* ------------------------------------------- */
  





  /* unorder list for logos inside the heder */
  #list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    
  }
  /* ----------------------------------------------- */






  
/* links color\sidebar\header */
  a{
    color: #FFFBE7;
    text-decoration: none;
  }
  /* --------------------------------------- */







  /* inside the footer */
  th{
    color: #FFFBE7;
    font-size: 3vh;
  }
  /* -------------------------------- */







  /* instegram logo */
  #ins_logo{
    width: 15vw;
    height: 10vh;
    display: flex;
  }
/* ---------------------------------------- */






  /* github logo */
  #git_logo{
    width: 15vw;
    height: 10vh;
    display: flex;
  }
/* --------------------------------------- */







  /* linkedin logo */
  #link_logo{
    width: 15vw;
    height: 10vh;
    display: flex;
  }
  /* ------------------------------------- */








  /*  inside the footer */
  #email{
    color: rgba(0, 0, 0, 0.733);
    font-size: 3vh;
    
  }
  /* ------------------------------------------ */









  /* name over the paragraph */
  #myname{
    display: flex;
    color: #A2B38B;
    width: 2vw;
    justify-content: flex-start;
    /* align-items: flex-end; */
    gap: 10vw;
    filter: drop-shadow(5px 5px 4px  #FFFBE7);
  }
  /* ------------------------------------------ */
  







  /* hover photo */
  #me1{
    border-radius: 70%;
    height: 20vh;
    width: 40vw;
    filter: drop-shadow(5px 5px 4px  #FFFBE7);
  }
  /* #me1:hover{
    transform: scale(1.5);
  } */
/* ------------------------------------------------------ */









/* pargraph of my resume */
  #pargraph{
   width: 60vw;
   border: 1px;
   color: rgba(0, 0, 0, 0.751);
   padding: 10vw;
  }
  /* ------------------------------------------------- */






/* responsible for the location of header\footer logos */
a{
  color: black;
  width: 30vw;
  color: rgba(0, 0, 0, 0.751);
}
/* ---------------------------------------------------------- */



/* div of git works*/
#mos{
  display: flex;
  flex-direction: column;
  width: 80vw;
  padding: 10vw;
}
/* --------------------------------------- */









/* animation photos */
#mof{
  display: flex;
  flex-direction: column;
  width: 80vw;
}

@keyframes imges_footer{
  0%{background-image:url(imges/me1.png);}
  20%{background-image: url(imges/me3.png);}
  60%{background-image: url(imges/fam.png);}
  80%{background-image: url(imges/fam2.png);}
  100%{background-image: url(imges/me5.png);}  
}

#imges_footer {
  width: 80vw ;
  height: 30vh ;
  background-image:url(imges/me1.png) ;
  background-size: cover ;
  animation-name: imges_footer;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  padding: 10vw;
}
/* ------------------------------------------------------------ */










li{
  display: flex;
}








/* photo on display none in small screen */
.photo_fam{
  display: none;
}
/* ---------------------------------------- */






/* gallery font width height */
#gallery2{
  display: none;
}
/* -------------------------------------------- */






/* whatsapp in the footer img logo */
#whatsapp{
  width: 10vw;
  height: 5vh;
  align-self: flex-end;
}
/* ---------------------------------------- */






/* mail in the footer img logo */
#mail{
  width: 10vw;
  height: 5vh;
  align-self: flex-end;
}
/* ---------------------------------------------------- */

