.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    'header header header header'
    'sidebar main main main'
    'sidebar main main main'
    'footer footer footer footer';
    gap: 1vh;
  }
  
  #header{
    grid-area: header;
    background-color: #DAB88B;
  }
  
  #sidebar{
    grid-area: sidebar;
    background-color: #A2B38B;
    width: 15vh;
  }
  
  #main{
    grid-area: main;
    background-color: #F0ECE3;
  }
  
  #footer{
    background-color:#DAB88B;
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    align-content: center;
  }
  a{
    color: #FFFBE7;
    text-decoration: none;
  }
  /* inside the footer */
  th{
    color: #FFFBE7;
    font-size: large;
  }
  /* -------------------------------- */
  /* instegram logo */
  #ins_logo{
    width: 10vw;
    height: 5vh;
    display: flex;
    justify-content: first baseline;
  }
  /* github logo */
  #git_logo{
    width: 10vw;
    height: 5vh;
    display: flex;
    justify-content:center;
  }
  /* linkedin logo */
  #link_logo{
    width: 10vw;
    height: 5vh;
    display: flex;
    justify-content: first baseline;
  }
  /*  inside the footer */
  #email{
    color: rgba(255, 255, 19, 0.733);
    font-size: large;
  }
  
  #myname{
    display: flex;
    gap: 5px;
    color: #A2B38B;
    border: 1px solid #A2B38B;
  }
  
  #me1{
    border-radius: 70%;
    height: 20vh;
    width: 20vw;
  }
  #me1:hover{
    transform: scale(1.5);
    filter: drop-shadow(5px 5px 4px  #FFFBE7);
  }
  #pargraph{
   width: 50vw;
   border: 1px;
   color: rgba(0, 0, 0, 0.751);
   border: 3px solid ;
  }

a{
  color: black;
  width: 30vw;
  border: 2px;
  color: rgba(0, 0, 0, 0.751);
  border: 5px solid ;
}
.mos{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

  

